#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-section {
    position: relative;
    /* z-index: -1; */
    background-color: #000;
      background-image: url(../../Assets/aakash.PNG);
      background-size: auto 70%;
      background-repeat: no-repeat;
      padding-bottom: 30px !important;
      background-position-y: center;
      background-position-x: 85%;
      height: 100vh;
      min-height: 100vh;
    }
    .showOnMobile{
      display: none;
      width: 100%;
      height:auto;
      padding: 0.5rem 2rem;
    margin: 1rem auto;
    }
  
  .home-content {
    display: flex;
    color: whitesmoke;
    height: 100%;
    align-items: center;
    text-align: left;
  }
  
  .section_heading {
    font-size: 60px;
    font-weight: 800;
    max-width: 100%;
    line-height: 70px;
    letter-spacing: 0.02em;
  }
  .section_heading span{
    color:#eeb52a /*#f9004d;*/
  }

  .Typewriter__wrapper {
    font-size: 1.2rem;
    color: #eeb52a;
    font-weight: 500;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #b562d6 !important;
  }
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 767px){
    .section_title {
        font-size: 45px !important;
        line-height: 55px !important;
    }
  }



/* HOME ABOUT ME */

  .about_card{
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: left;
  }
  .about_card_dots{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  .about_card_dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ed4c5c;
    margin: 0 10px 0 0;
  }
  .about_card_dots span:nth-child(2){
  background-color: #eeb52a;
  }
  .about_card_dots span:nth-child(3){
  background-color: #78B159;
  }
  
  .about_content{
    padding: 2rem 1.25rem;
  }
  .about_content h4{
    font-weight: 500;
    margin-bottom: 15px;
  }
  .about_content p{
    margin: 0;
    font-size: 132%;
    line-height: 150%;
    letter-spacing: 1.5px;
    font-weight: 400;
  }
  
  
  .home_about_section {
    position: relative;
    padding-bottom: 6rem;
    background-color: #e9d5a1;
  }
  

  .home-about-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }
  
  .home-about-body {
    font-size: 1.2em !important;
    text-align: left;
  }
  .home_about_card_body{
    padding-top: 0 !important;
  }
  
  .home_about_social {
    text-align: center;
    color: white;
  }
  
  .home_about_social_links {
    justify-content: center;
    display: inline-block;
    position: relative;
    padding-inline-start: 0;
    margin:0;
  }
  
  .home_social_icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.972);
    border-radius: 50%;
    transition: 0.5s;
  }
  
  
  
  .home_social_icons:hover {
    color: #87209e;
    transform: scale(1.2);
    border: 1px solid #eeb52a;
    text-decoration: none;
  }
  
  .social_icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #700c86 !important;
  }
  
  @media (max-width:767px) {
    .showOnMobile{
      display: block;
    }
    .home-section{
    background-image:none;
  }
  .section_heading {
    font-size: 45px;
    line-height: 55px;
    padding: 40px 0;
  }

  }
  

  
.resume_ul {
  list-style: none;
  padding: 1rem;
}
.resume, .resume:hover {
  color: #eeb52a;
  border: solid 1px #c9c9c9;
  padding: 1rem;
  font-weight: 500;
  border-radius: 999px;
  text-decoration: none;

}



.resume:hover {
  color: #c9c9c9;
  border-color: #eeb52a;
}


