
html {
  --section-background-color: #000;

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffaee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeb52a;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eeb52a;
  border-radius: 12px;
}




.section_title {
  font-size: 60px;
  font-weight: 800;
  max-width: 100%;
  line-height: 70px;
  letter-spacing: 0.02em;
  padding: 3rem 0;
  color: #f7f7f7;
}
.section_title span{
  color:#eeb52a /*#f9004d;*/
}

@media only screen and (max-width: 767px){
  .section_title {
      font-size: 45px !important;
      line-height: 55px !important;
  }
}


